<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>todo_list</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>