<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>todo_req</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div class="main">
        <div class="todo-request">
            <div class="container">
                <p>ToDoを追加</p>
                <div class="input-form">
                    <form action="/create" method="post">
                        <div class="title-form">
                            <label for="todoTitle">内容</label>
                            <input type="text" name="todoTitle">
                        </div>
    
                        <div class="date-form">
                            <div class="month">
                                <!--<label for="todoMonth">月</label>-->
                                <!--<input type="text" name="todoMonth">-->
                                <select name="todoMonth">
                                    <option value="" selected>月を選択</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> 
                            </div>
                            <div class="day">
                                <!--<label for="todoDay">日</label>-->
                                <!--<input type="text" name="todoDay">-->
                                <select name="todoDay">
                                    <option value="" selected>日を選択</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <p>※月日を選択しない場合は「日付の登録なし」という形で登録されます</p>
                        </div>
                        <input type="submit" value="登録">
                    </form>
                </div>
            </div>
        </div>
    </div>    




</body>