<!DOCTYPE html>
<html lang="ja">

<head>
    <!--meta  http-equiv="content-type" content="text/html" charset="utf-8"-->
    <meta charset="utf-8">
    <title>todo</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div class="page-title">
        <div class="container">
           <h1>ToDo Application</h1>
        </div>
    </div>

    <div class="main">

        <div class="todo-list">
            <div class="container">
                <p>あなたのToDo</p>
    
                
                <div class="table-wrapper">
                    <div class="table-head">
                        <span class="date-column">日付</span>
                        <span>内容</span>
                    </div>
                    <ul class="table-body">
                        <% todocolumn.forEach((todo) => { %>
                            <li>
                                <div class="todo-data">
                                    <span class="month-column"><%= todo.month%></span>/<span class="day-column"><%= todo.day%></span>   
                                    <span class="title-column"><%= todo.title%></span>
                                </div>
                            </li>
                        <%});%>
                    </ul>
                </div>
                <a href="/req" class="linkreq">ToDoを追加</a>
    
    
            </div>
        </div>
    

    </div>


    
</body>

</html>